:root {
  --main-bg-color: #fffdf3;
  --resalted-color: #cc330a;
}
/* Fonts */
@font-face {
    font-family: 'Oswald';
    src: url('{{ "css/fonts/Oswald-Regular.ttf" | absURL }}') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.intro-and-nav > div {
  padding-top: 1rem;
}
.main-and-footer > div {
  padding: 0.75rem;
}
/* Header > Idiomas disponibles */
.translations-list {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.75;
  /*  flex: 0 0 auto;*/
  margin-top: 0.5rem;
}
a {
  color: var(--resalted-color);
}
a.available-language-item {
  color: inherit;
}
/* end Idiomas disponibles */
/* Nav > Menú */
a.menu-item {
  color: inherit;
}
/* end Nav > Menú */
.div-themer-nav {
  text-align: right;
  margin-top: 0rem;
  flex: 20 0 auto;
}
.boton-themer-nav {
  background: transparent;
  color: #00020f !important;
  margin: 1rem 0rem 0rem;
  border-style: outset;
  border-width: thin;
  font-weight: normal;
  font-size: 0.8rem;
}
/* aplicable a sección de Artículos Relacionados */
.related-header-title {
  border: 0;
  line-height: 1.25;
}
.related-tag {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.related-summary-text {
  padding-left: 1rem;
  margin: 0.25rem;
  font-size: .85rem;
}
/* end sección de Artículos Relacionados */
/* aplicable al item de traduccione disponibles */
/* para el layout single.html */
.available-languages {
  margin-top: 0;
  font-size: 0.85rem;
}
.active-language-tag {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 0px; 
}
.available-language-tag {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
  /*color: #111;*/
}
/* end item de traduccione disponibles */
.footer2 {
  font-size: 0.5rem;
  color: #777;
  margin-top: 0rem;
  text-transform: uppercase;
}
/* ==================== */
/* modifico css de cupper */
html {
    font-size: calc(1em + 0.2vw);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
}
/* Text styles */
h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    line-height: 1.125;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4,
h5 {
    font-size: 1rem;
}
h5,
h6 {
    font-size: 0.85rem;
    text-transform: uppercase;
}
/* cambio color de fondo */
html {
  background-color: var(--main-bg-color);
}
[href="#main"] {
  color: var(--main-bg-color);
}
.cmd code {
  color: var(--main-bg-color);
}
button {
  color: var(--main-bg-color);
}
[data-launch] {
  color: var(--main-bg-color) !important;
}
[for="themer"] {
  color: var(--main-bg-color);
}
.tested th {
  color: var(--main-bg-color);
}
.pattern [aria-current] {
  color: var(--main-bg-color);
}
.code-annotated.numbered + ol li::before  {
  color: var(--main-bg-color);
}
.file-tree li {
  background: var(--main-bg-color);
}
.colors span {
  color: var(--main-bg-color);
}
::-moz-selection {  /* Code for Firefox */
  color: var(--main-bg-color);
}

/* end mofifica css cupper */
/* =================== */
