:root {
  --main-bg-color: #fffdf3;
  --special-bg-color: #f3dac5;
  --resalted-color: #cc330a;
}
/* Fonts */
@font-face {
    font-family: 'Bitter';
    src: url('{{ "css/fonts/Bitter-800.woff2" | absURL }}') format('woff2'), url('{{ "css/fonts/Bitter-800.woff" | absURL }}') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
a {
  color: var(--resalted-color);
}
a:hover {
    border-bottom: 1px solid;
}
/* Header > Idiomas disponibles */
.translations-list {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.75;
  margin-top: 0rem;
  margin-bottom: -1rem;
}
a.available-language-item {
  color: inherit;
  border-bottom: 1px solid;
}
/* end Idiomas disponibles */
/* Nav > Menú */
a.menu-item {
  color: inherit;
  border-bottom: 0px solid;
}
/* end Nav > Menú */
.div-themer-nav {
  visibility: hidden;
  text-align: right;
  margin-top: 0rem;
  flex: 40 0 auto;
  display: none;
}
.boton-themer-nav {
  /*width: 50%;*/
  background: transparent;
  color: #00020f !important;
  margin: 1rem 0rem 0rem;
  border-style: solid;
  border-width: 2px;
  font-weight: normal;
  font-size: 0.8rem;
}
/* aplicable a sección de Artículos Relacionados */
.related-header {
  margin-bottom: -1.75rem;
}
.related-header-title {
  border: 0;
  line-height: 1.25;
}
.related-tags {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.related-summary-text {
  padding-left: 1rem;
  margin: 0.25rem;
  font-size: .85rem;
}
/* end sección de Artículos Relacionados */
/* aplicable al item de traduccione disponibles */
/* para el layout single.html */
.available-languages {
  margin-top: 0;
  font-size: 0.85rem;
}
.active-language-tag {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 0px; 
}
.available-language-tag {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
  /*color: #111;*/
}
/* end item de traduccione disponibles */
.footer2 {
  font-size: 0.5rem;
  color: #333333;
  margin-top: 0rem;
  text-transform: uppercase;
}
/* Botón volver arriba ⇧ */
#btnTop {
  display: none;  /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  opacity: 0.7;
  background-color: gray; /* Set a background color */
  color: var(--main-bg-color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 18px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
}
#btnTop:hover {
  background-color: var(--resalted-color); /* Add a dark-grey background on hover */
}
/* end Botón */
/* ==================== */
/* MODIFICO CSS DE CUPPER THEME */
html {
    font-size: calc(1em + 0.2vw);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
}
/* cambio color y borde derecho del menú */
.intro-and-nav {
  /*border-right: 0px dashed;*/
  border-right: none;
  background: var(--special-bg-color);
}
.intro-and-nav > div {
  padding: 1rem 1rem 1rem;
}
.main-and-footer > div {
  padding: 0.75rem;
}
div.intro {
  text-align: center;
}
/* Text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bitter, "Arial Black", "Helvetica bold", sans-serif;
    font-weight: 800;
    line-height: 1.125;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4,
h5, 
h6 {
    font-size: 1rem;
    text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
	margin-bottom: -1.25rem;
}
.h2-container a {
    left: -1.5em;
}
a {
    border-bottom: 0px solid;
}
#menu-button {
  /*width: auto;*/
  text-align: right;
  background: transparent;
  color: #111;
  border-style: none;
  padding: 0rem;
  font-size: 2rem;
}
#menu-button:focus {
    outline: none;
    box-shadow: none;
}
/* Cambiar el resaltado de borde al pulsar */
*:focus {
  outline: 4px solid var(--special-bg-color) !important;
}
/* cambio color de fondo */
html {
  background-color: var(--main-bg-color);
}
[href="#main"] {
  color: var(--main-bg-color);
}
.cmd code {
  color: var(--main-bg-color);
}
button {
  color: var(--main-bg-color);
  background-color: var(--resalted-color)
}
[data-launch] {
  color: var(--main-bg-color) !important;
}
[for="themer"] {
  color: var(--main-bg-color);
}
.tested th {
  color: var(--main-bg-color);
}
.pattern [aria-current] {
  color: var(--main-bg-color);
}
.code-annotated.numbered + ol li::before  {
  color: var(--main-bg-color);
}
.file-tree li {
  background: var(--main-bg-color);
}
.colors span {
  color: var(--main-bg-color);
}
::-moz-selection {  /* Code for Firefox */
  color: var(--main-bg-color);
}

/* end mofifica css cupper */
/* =================== */
