<footer>
<!--   <div class="badges-footer">
    <span>
      <a class="badges-gray" href="https://250kb.club/" target="_blank" rel="noopener" title='{{ T "we-are-members" }} The 250KB Club' >THE 250KB CLUB</a>
    </span>
    <span>
      <a class="badges-green" href="https://512kb.club" target="_blank" rel="noopener" title='{{ T "we-are-members" }} The 512KB Club'>THE 512KB CLUB</a>
    </span><br>
  </div> -->

  <!-- Social Icons -->
  {{ partial "social-icons" . }}

  <!-- Lineas de texto  -->
  <div class="footer1">
    {{- with .Site.Params.footer -}}
      {{- . | markdownify -}}
    {{- end -}}
  </div>
  <div class="footer2">
    {{ T "permission" }}.
  </div>
  <div class="footer3">
  {{- with .Site.Params.footer2 -}}
    {{- . | markdownify -}}
  {{- end -}}
  </div>
</footer>
