<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <!-- Logo -->
      <!-- Enlaza la imagen con el home
      agregando el prefijo de idioma a la BaseURL.
      Antes se usó / y .Site.Language.Lang 
      La variable .LanguagePrefix incluye el / antes del código de idioma  -->
      <a
        class="logo"
        href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/" aria-label="{{ .Site.Title }} home page">
        <img class="logo" src="{{ "images/logo.svg" | absURL }}" alt="logo lectupedia">
      </a>
      <p class="library-desc">
        <!-- Descripción -->
        <!-- {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }} -->
      </p>
    </div>
    <!-- end Logo -->
    
    <!-- Lista de idiomas -->
    <div class="translations-list">
      {{ $currentPage := . }}
      {{ $home := .Site.Home }}
      {{ range $home.Translations }}
        {{ $homeTranslation := .Language }}
        {{ $hayTraduccion := false }}
        {{ $paginaTraducida := .Permalink }}
        {{ range $currentPage.Translations }} 
          {{ $isSame := eq $homeTranslation .Language }} 
          {{ if $isSame }}
            {{ $hayTraduccion = true }}
            {{ $paginaTraducida = .Permalink }}
          {{ end }}
        {{ end }}  
          {{ if $hayTraduccion }}
            <span><a href="{{ $paginaTraducida }}">{{ .Language.LanguageName }}</a></span><br>
          {{ else }}
            <span><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></span><br>
          {{ end }}

      {{ end }}
          <span>{{ $home.Language.LanguageName }} </span>
    </div>
    <!-- end Lista de idiomas -->    
    
    {{ partial "nav.html" . }}

    <!-- Botón para Themer -->
    <div class="div-themer-nav">
      <label for="themer" class="boton-themer-nav">
        {{ T "dark_theme" }}: <input type="checkbox" id="themer" class="vh">
        <span aria-hidden="true"></span>
      </label>
    </div>
    <!-- end Botón -->

  </div>
</header>
