<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <!-- Logo -->
      <!-- Enlaza la imagen con el home
      agregando el prefijo de idioma a la BaseURL.
      Antes se usó / y .Site.Language.Lang 
      La variable .LanguagePrefix incluye el / antes del código de idioma  -->
      <a
        class="logo"
        href="{{ .Site.BaseURL | relLangURL }}" aria-label="{{ .Site.Title }} home page">
        <img class="logo" src='{{ "images/logo.svg" | absURL }}' alt="logo lectupedia">
      </a>
      <p class="library-desc">
        <!-- Descripción -->
        <!-- {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }} -->
      </p>
    </div>
    <!-- end Logo -->
    
    <!-- Lista de idiomas -->
    <div class="translations-list">
      {{ $currentPage := . }}
      {{ range .Site.Home.Translations }}
        {{ $homeTranslation := .Language }}
        {{ $linkToTranslation := .Permalink }}
        {{ range $currentPage.Translations }} 
          {{ $sameLanguage := eq $homeTranslation .Language }} 
          {{ if $sameLanguage }}
            {{ $linkToTranslation = .Permalink }}
          {{ end }}
        {{ end }}  
        <!-- clases CSS se define en archivo template-custom.css -->
        <span><a class="available-language-item" href="{{ $linkToTranslation }}">{{ .Language.LanguageName }}</a></span><span> · </span>
      {{ end }}
          <span>{{ .Site.Home.Language.LanguageName }} </span>
    </div>
    <!-- end Lista de idiomas -->    
    
    {{ partial "nav.html" . }}

    <!-- Botón para Themer -->
    <!-- oculto temporalmente. Cf: custom.css -->
    <div class="div-themer-nav">
      <label for="themer" class="boton-themer-nav">
        {{ T "dark_theme" }}: <input type="checkbox" id="themer" class="vh">
        <span aria-hidden="true"></span>
      </label>
    </div>
    <!-- end Botón -->

  </div>
</header>
