<script type="application/ld+json">
{{- if .IsHome }}
{ "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Title }},
  "url": {{ .Site.BaseURL }},
  "logo": {
    "@type": "ImageObject",
    "url": {{ "images/logo.svg" | absURL }}
    },
  "sameAs": [
    {{ with .Site.Params.facebook }}"https://www.facebook.com/{{ . }}",{{ end }}
    {{ with .Site.Params.twitter }}"https://twitter.com/{{ . }}",{{ end }}
    {{ with .Site.Params.linkedin }}"https://www.linkedin.com/in/{{ . }}"{{ end -}}
    ]
}
{{- else }}
{ {{ $images := $.Resources.ByType "image" -}}
  {{- $featuredImage := $images.GetMatch "*feature*" -}}
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title }},
  {{- with $featuredImage }}
  "image": {{ $featuredImage.Permalink -}},
  {{- else -}}
  {{ with $.Site.Params.images }}
  "image": {{ index . 0 | absURL -}},
  {{- end -}}{{- end }}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ "images/logo.svg" | absURL }}
      }
  },
  "description": {{ .Params.description | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
{{ end -}}
</script>
