<br>
<hr>
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h2>{{ T "related_articles_title" }}</h2>
	{{ range . }}
	<article class="">
		<!-- Se usan clases CSS del archivo custom_01.css -->
		<header>
			<h3>
			    <a class="related-header-title" href="{{ .RelPermalink }}" aria-label="post link to {{ .Title | plainify }}">
			    <svg
		            class="bookmark"
		            aria-hidden="true"
		            viewBox="0 0 40 50"
		            focusable="false"
          	    >
            		<use xlink:href="#bookmark"></use>
          		</svg>
      	  		{{ .Title }}</a>
			    {{ if .Draft }}<div class=""><sup>&nbsp;&nbsp;[draft]</sup></div>{{ end }}
			</h3>
				<!-- <span>[</span> -->
				{{ range .Params.tags }}
				<span class="related-tag">·{{ . }}</span>
				{{ end }} <!-- <span>]</span> -->
		</header>
		<section class="related-summary-text">
			<p>{{ .Summary | markdownify | plainify | htmlUnescape }}..</p>
			<p><a href="{{ .RelPermalink }}" aria-label="post link to {{ .Title | plainify }}">{{ T "read_more" }}</a>...</p>
		</section>
	</article>
	{{ end }}	
{{ end }}
<hr>
