{{ $templateDomScripts := resources.Get "js/template-dom-scripts.js" }}
{{ $domScripts := $templateDomScripts | resources.ExecuteAsTemplate "js/dom-scripts.js" . | resources.Minify }}
<script src="{{ $domScripts.RelPermalink }}"></script>  

<!-- cargar recursos para cuadro de búsqueda -->
<!-- se activa en config.toml -->
{{ if site.Params.search }}
	{{ $searchJs := resources.Get "js/search.js" | fingerprint }}
	<script src="{{ $searchJs.RelPermalink }}"></script>
	{{ $searchCss := resources.Get "css/search.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $searchCss.RelPermalink }}"></link>
{{ end }}

<!-- cargar Custom javascript indicado en config.toml -->
{{ range .Site.Params.customJs }}
  <script src="{{ . | relURL }}"></script>
{{ end }}

<!-- Botón para volver arriba -->
<script type="text/javascript">
	// Get the button:
	buttonTop = document.getElementById("btnTop");
	// When the user scrolls down 300px from the top of the document, show the button
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
	    buttonTop.style.display = "block";
	  } else {
	    buttonTop.style.display = "none";
	  }
	}
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	  document.body.scrollTop = 0; // For Safari
	  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
</script>
<!-- fin de Botón -->

<!-- Contador de vistas (en construcción) -->
<!-- {{ if not .Site.IsServer }}
<script type="text/javascript">
function viewsCounter() {
  var counter = new XMLHttpRequest();
  counter.open("GET", "https://api.countapi.xyz/hit/lectupedia-{{ .File.BaseFileName }}");
  counter.responseType = "json";
  counter.onload = function() {
      document.getElementById("views-counter").innerHTML = counter.response.value;
      // alert({{ .File.BaseFileName }});
  }
  counter.send(); 
}
window.onload = viewsCounter;
</script>
{{ end }} -->
<!-- fin del Contador de vistas -->
