<!-- Función para Botón menú  -->
<script>
	(function () {
	  var button = document.getElementById('menu-button');
	  if (button) {
	  	// Uso anterior desconocido: 
	    // var menu = document.getElementById('patterns-list');
	    button.addEventListener('click', function() {
	      var expanded = this.getAttribute('aria-expanded') === 'true';
	      this.setAttribute('aria-expanded', !expanded);
	    })
	  }
	}());
</script>
<!-- end Botón menú -->

<!-- Botón Top -->
<button onclick="topFunction()" id="btnTop" title='{{ T "go_to_top" }}'>▲</button>
<script>
	// Get the button:
	buttonTop = document.getElementById("btnTop");
	// When the user scrolls down 300px from the top of the document, show the button
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
	    buttonTop.style.display = "block";
	    // buttonTop.style.position: "fixed";
	  } else {
	    buttonTop.style.display = "none";
	  }
	}
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	  document.body.scrollTop = 0; // For Safari
	  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
</script>
<!-- fin de Botón Top -->

<!-- cargar recursos para cuadro de búsqueda -->
{{ if site.Params.search }}
	{{ $searchJs := resources.Get "js/search.js" | fingerprint }}
	<script src="{{ $searchJs.RelPermalink }}"></script>
	{{ $searchCss := resources.Get "css/search.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $searchCss.RelPermalink }}"></link>
{{ end }}

<!-- cargar Custom javascript indicado en config.toml -->
{{ range .Site.Params.customJs }}
  <script src="{{ . | relURL }}"></script>
{{ end }}
