<svg style="display: none">
  <symbol id="menu" viewBox="0 0 130 100">
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="0" x="0"/>
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="40" x="0"/>
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="80" x="0"/>
  </symbol>
  
  <symbol id="bookmark" viewBox="0 0 40 50">
    <path fill="none" stroke="currentColor" stroke-width="4" d="M3.8045 2.8601l-.2331 42.195 16.319-16.318 16.318 16.318.2331-42.428z"/>
  </symbol>
</svg>
