<svg style="display: none">
  <symbol id="menu" viewBox="0 0 130 100">
     <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="0" x="0"/>
     <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="40" x="0"/>
     <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="80" x="0"/>
   </symbol>
     <symbol id="bookmark" viewBox="0 0 40 50">
   <g transform="translate(2266 3206.2)">
    <path style="stroke:currentColor;stroke-width:3.2637;fill:none" d="m-2262.2-3203.4-.2331 42.195 16.319-16.318 16.318 16.318.2331-42.428z"/>
   </g>
  </symbol>
</svg>
