<svg style="display: none">
  <symbol id="menu" viewBox="0 0 130 100">
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="0" x="0"/>
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="40" x="0"/>
    <rect style="stroke-width:0;fill:currentColor" height="18" width="130" y="80" x="0"/>
  </symbol>

  <symbol id="bookmark" viewBox="0 0 40 50">
    <path fill="none" stroke="currentColor" stroke-width="4" d="M3.8045 2.8601l-.2331 42.195 16.319-16.318 16.318 16.318.2331-42.428z"/>
  </symbol>

  <symbol id="tag" viewBox="0 0 178 178">
    <!-- Sustituyo el path por otro que genera el gráfico de un diálogo/bocadillo -->
     <path style="fill-rule:evenodd;stroke-width:0;fill:currentColor" d="M49.42 8.59A40.75 40.75 0 008.6 49.43v36.32c0 22.62 18.34 38.38 40.83 40.84h18.33l100.83 42-23.62-42c22.63 0 23.63-17.82 23.63-40.84V49.43a40.75 40.75 0 00-40.84-40.84H49.42zm-3.23 24.18h80.4a11.5 11.5 0 010 23h-80.4a11.5 11.5 0 010-23zm.11 44.3H96a11.5 11.5 0 010 23H46.3a11.5 11.5 0 010-23z"/>
  </symbol>

  <symbol id="info" viewBox="0 0 42 42">
  <circle cx="21" cy="13" r="2.5" fill="currentColor" />
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M21 29.19v-9.75"/>
  <circle cx="21" cy="21" r="19" fill="none" stroke="currentColor" stroke-width="4" paint-order="fill markers stroke"/>
  </symbol>

  <symbol id="warning" viewBox="0 0 48 42">
  <circle cx="24" cy="32.5" r="2.5" fill="currentColor"/>
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M23.9937 1.9937L1.9935 39.994h44.0003z"/>
  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M24 17.6095v8.862"/>
  </symbol>
</svg>
