<!-- Obtener variables del shortcode -->
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}

<!-- obtener recurso -->
{{ $image := .Page.Resources.GetMatch (printf "*%s*" $src) }}

<!-- salida html -->
<figure class="infografia" 
  aria-describedby="caption-{{ $caption | md5 }}">
  <a href="{{ $image.RelPermalink }}" class="img-link">
    <img class="infografia-shortcode" 
      src="{{ $image.RelPermalink | absLangURL }}" 
      alt="{{ $alt | plainify }}" 
      width="{{ $image.Width }}" 
      height="{{ $image.Height }}">
  </a>
  <br>
  <a href="{{ $image.RelPermalink }}">
    {{ T "see-full-size-image" }}
  </a>
  <figcaption id="caption-{{ $caption | md5 }}">
    <!-- Publica el caption enviado desde el archivo .md -->
    {{ $caption | markdownify }}
    <br>
    <!-- Info. de Licencia -->
    <small>
      <a href="{{ T "licenced-link" }}" 
        target="_blank" 
        rel="noopener">
        {{ T "licenced-under" }} CC BY-NC: 
      </a>
        {{ T "licenced-caption" }}.
    </small>
  </figcaption>
</figure>
